

.super-contenitore {
    background-color: rgba(100, 0, 0, 0.2);
    margin-left: 6rem;
    margin-top: 1rem;
}
.contenitore {
    position: relative;
    background-color: rgba(100, 100, 0, 0.2);
    width: 14.2rem;
    height: 20.4rem;
}